<connectionStrings>
  <add name="DefaultConnection"
   providerName="System.Data.SqlClient"
   connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FinishLinePics-20150607042451.mdf;Initial Catalog=aspnet-FinishLinePics-20150607042451;Integrated Security=True" />
</connectionStrings>
