<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FinishLinePicsAPI-20150607042759.mdf;Initial Catalog=aspnet-FinishLinePicsAPI-20150607042759;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="photoDataContext" connectionString="Server=tcp:g9jdejeaqg.database.windows.net,1433;Database=photodata;User ID=FinishLineAdmin@g9jdejeaqg;Password=w$#y0yBi*U6mMzX2;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>

